<nav class="header white navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" routerLink="/home">
                <i class="material-icons">keyboard_backspace</i>
            </button>
            <!-- <a class="navbar-brand pull-right" href="javascript:void(0);">{{getTitle()}}</a> -->
            <a class="navbar-brand pull-right" href="javascript:void(0);">{{"LoginScreen_SignIn.previous" | translate}}</a>
        </div>    
    </div>
</nav>
