<div class="modal-content cus-modal">
	<div class="modal-header text-center">
		<h4 class="m-t-0"> Please answer the security question. </h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="form-group col-md-12 col-sm-12 col-xs-12">
				<p><strong>Ques:</strong> What is your state? </p>
	            <md-select placeholder="State">
	                <md-option value="1"> State1 </md-option>
	                <md-option value="2"> State2 </md-option>
	                <md-option value="3"> State3 </md-option>
	                <md-option value="4"> State4 </md-option>
	            </md-select>
	        </div>
	        <div class="form-group col-md-12 col-sm-12 col-xs-12">
				<p><strong>Ques:</strong> What is your District? </p>
	            <md-select placeholder="District">
	                <md-option value="1"> District1 </md-option>
	                <md-option value="2"> District2 </md-option>
	                <md-option value="3"> District3 </md-option>
	                <md-option value="4"> District4 </md-option>
	            </md-select>
	        </div>
	        <div class="form-group col-md-12 col-sm-12 col-xs-12">
				<p><strong>Ques:</strong> What is your Block? </p>
	            <md-select placeholder="Block">
	                <md-option value="1"> Block1 </md-option>
	                <md-option value="2"> Block2 </md-option>
	                <md-option value="3"> Block3 </md-option>
	                <md-option value="4"> Block4 </md-option>
	            </md-select>
	        </div>
			<button class="btn custom-btn full-width btn-round" (click)="onClosed()" > Ok </button>
		</div>
	</div>
</div>