<div class="modal-content cus-modal">
	<div class="modal-header text-center">
		<h4 class="m-t-0"> Please answer the security question. </h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="form-group col-md-12 col-sm-12 col-xs-12">
				<p><strong>Ques:</strong> What is your state? </p>
	            <md-select placeholder="State" name="state" [(ngModel)]="securityModel.state">
                    <md-option *ngFor="let state of states"  [value]="state.stateName"> {{state.stateName}} </md-option>
                </md-select>
	        </div>
	        <div class="form-group col-md-12 col-sm-12 col-xs-12">
				<p><strong>Ques:</strong> What is your District? </p>
	           	<md-select placeholder="District" name="District" [(ngModel)]="securityModel.district">
                    <md-option value="Nandurbar"> Nandurbar </md-option>
                </md-select>
	        </div>
	        <div class="form-group col-md-12 col-sm-12 col-xs-12">
				<p><strong>Ques:</strong> What is your Block? </p>
	            <md-select placeholder="Block" name="Block" [(ngModel)]="securityModel.block"  >
                    <md-option value="Akkalkuwa"> Akkalkuwa </md-option>
                    <md-option value="Akrani"> Akrani </md-option>
                </md-select>
	        </div>
			<button class="btn custom-btn full-width btn-round" (click)="onOk()" > Ok </button>
		</div>
	</div>
</div>