<section class="home-sec welcome">
	<div class="text-center">
		<img src="./assets/img/logo_w.png" />
	</div>
	<div class="welcome-content text-center">
		<h4>{{"LaunchScreen2.WelcometoNetpar" | translate}}</h4>
		<p style="color:#fff"> {{"LaunchScreen2.Tagline" | translate}} </p>
		<p style="color:#fff"> {{"LaunchScreen2.Comejoinus" | translate}} </p>
		<button routerLink="/home" class="btn black-btn" skipLocationChange="false">{{"LaunchScreen2.Start"|translate}}</button>
	</div>

	<div class="triangle first-triangle"></div>
	<div class="triangle second-triangle"></div>
	<div class="triangle third-triangle"></div>
</section>
