.mat-form-field, .mat-select {
    width: 20% !important;
     background: #9c27b0 none repeat scroll 0 0;
    display: inline-block;
    height: 62px;
    outline: 0 none;
}


md-select.md-no-border .md-select-value {
  border-bottom-color: transparent !important;
}