<div class="wrapper">
    <app-back-button-navbar></app-back-button-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="header-extra" ></div>
		<section class="homepage-sec tb-wrap">
		    <div class="homepage-listing" *ngIf="categoryTemplateStyle=='Category-view Template Four'">
			    <ul class="homepage-ulist">
			    	<li class="{{bgClass(i)}}" *ngFor="let category of categories; let i=index"> 
			    		<a> {{category.categoryName}} </a>
			    	</li>
			    </ul>
		    </div>
		    <div class="homepage2-listing" *ngIf="categoryTemplateStyle=='Category-view Template Two'">
			    <ul class="homepage2-ulist">
			    	<li *ngFor="let category of categories">
			    		<a><img src="{{category.thumbnailImage}}"> 
			    		<p>{{category.categoryName}} </p> </a>
			    	</li>
			    </ul>
		    </div>
		    <div class="homepage2-listing" *ngIf="categoryTemplateStyle=='Category-view Template One'">
			    <ul class="homepage2-ulist">
			    	<li *ngFor="let category of categories">
			    		<a ><img src="{{category.thumbnailImage}}"> 
			    		<p>{{category.categoryName}} </p> </a>
			    	</li>	
			    </ul>
		    </div>
		    <div *ngIf="categoryTemplateStyle=='Category-view Template Three'">
		    	 <ul class="homepage-ulist sec">
			    	<li *ngFor="let category of categories; let i=index">
			    		<div class="homepage-bg" [ngStyle]="{'background-image': 'url(' + category.horigontalImage + ')'}" (click)= "onSection(sec)">
			    			<a>
			    				{{category.categoryName}}
			    	   		 </a> 
			    		</div>
			    	</li>
			    </ul>
		    </div>
		</section>
		<app-footer></app-footer>
	</div>
</div>