<div class="modal-content cus-modal" >
	<div class="modal-header text-center">
		<h4 class="m-t-0"> {{'Login_SecurityQuestions.anserSecurityQuestions' | translate}} </h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-mat-12 col-sm-12 col-xs-12 p-b-0">
	        	<p><strong>{{'Login_SecurityQuestions.Ques' | translate}}</strong> {{'Login_SecurityQuestions.dobQues' | translate}} </p>
	        </div>
	        <div class="form-group col-mat-12 col-sm-12 col-xs-12" >
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="{{'Login_SecurityQuestions.Month' | translate}}/{{'Login_SecurityQuestions.Date' | translate}}/{{'Login_SecurityQuestions.Year' | translate}}" name="dob" [(ngModel)]="DOB" [formControl]="complexForm.controls['dob']" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>
               <div style="color: #F44336" *ngIf="!complexForm.controls['dob'].valid  && ( complexForm.controls['dob'].touched)">
                    <div *ngIf="complexForm.controls['dob'].errors.required">
                        {{'Login_SecurityQuestions.' | translate}}
                    </div>
                </div>
	         <!--    <mat-select placeholder="DD" [(ngModel)]="dd">
	        		<mat-option value="01"> 01 </mat-option>
	                <mat-option value="02"> 02 </mat-option>
	                <mat-option value="03"> 03 </mat-option>
	                <mat-option value="04"> 04 </mat-option>
	                <mat-option value="05"> 05 </mat-option>
	            </mat-select>
	        </div>
	        <div class="form-group col-mat-4 col-sm-4 col-xs-4" >
	            <mat-select placeholder="MM" [(ngModel)]="mm">
	        		<mat-option value="Jan"> Jan </mat-option>
	                <mat-option value="Feb"> Feb </mat-option>
	                <mat-option value="Mar"> Mar </mat-option>
	                <mat-option value="Jun"> Jun </mat-option>
	                <mat-option value="July"> July </mat-option>
	                <mat-option value="Aug"> Aug </mat-option>
	            </mat-select>
	        </div>
	        <div class="form-group col-mat-4 col-sm-4 col-xs-4" >
	            <mat-select placeholder="YYYY" [(ngModel)]="yy">
	        		<mat-option value="1980"> 1980 </mat-option>
	                <mat-option value="1981"> 1981 </mat-option>
	                <mat-option value="1982"> 1982 </mat-option>
	                <mat-option value="1983"> 1983 </mat-option>
	            </mat-select>
	        </div> -->
	        <div class="form-group col-mat-12 col-sm-12 col-xs-12 p-0">
	        	<p><strong>{{'Login_SecurityQuestions.Ques' | translate}}</strong> {{'Login_SecurityQuestions.genderQues' | translate}} </p>
	             <mat-radio-group name="Gender" [(ngModel)]="updateMobileModel.gender" [formControl]="complexForm.controls['gender']" >
                    <mat-radio-button value="{{'Login_SecurityQuestions.Male' | translate}}" class="col-mat-6 col-sm-6 col-xs-6">{{'Login_SecurityQuestions.Male' | translate}}</mat-radio-button>
                    <mat-radio-button value="{{'Login_SecurityQuestions.Female' | translate}}" class="col-mat-6 col-sm-6 col-xs-6">{{'Login_SecurityQuestions.Female' | translate}}</mat-radio-button>
                </mat-radio-group>
                <div style="color: #F44336" *ngIf="!complexForm.controls['gender'].valid  && ( complexForm.controls['gender'].touched)">
                    <div *ngIf="complexForm.controls['gender'].errors.required">
                        {{'Login_SecurityQuestions.genderRequired' | translate}}
                    </div>
                </div>
	        </div>
	        <div class="form-group col-mat-12 col-sm-12 col-xs-12 p-0">
	        	<p><strong>{{'Login_SecurityQuestions.Ques' | translate}}</strong> {{'Login_SecurityQuestions.mobileNumberQues' | translate}} </p>
	    	 	<mat-form-field>
		            <span matPrefix> <i class="cusIco-contact"></i>&nbsp; </span>
		           <input matInput placeholder="{{'Login_SecurityQuestions.previousMobileNumber' | translate}}" type="text" name="contactNumber" [(ngModel)]="updateMobileModel.mobileNumber" >
	        	</mat-form-field>
	        </div>
			<button class="btn custom-btn full-width btn-round" (click)="onUpdate()" > {{'Login_SecurityQuestions.update' | translate}} </button>
		</div>
	</div>
</div>
