<footer>
    <div class="footer-sec">
        <nav class="">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/homepage">
                        <i class="cusIco-home"></i>
                        <div> Home </div>
                    </a>
                </li>
                <li>
                    <a class="text-yellow" routerLink="/homepage">
                        <i class="material-icons font_34">add_circle</i>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/profile">
                        <i class="cusIco-profil"></i>
                        <div> My Profile </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="bottom-option">
        <ul class="bottom-ul" type="none">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-question"></i> </a>
                <ul class="dropdown-menu bottom-dropdown">
                    <li> <a class="bg-blue" routerLink="/homepage"> <i class="material-icons">call</i> </a> </li>
                    <li> <a class="bg-whatsapp" routerLink="/homepage"> <i class="fa fa-whatsapp"></i> </a> </li>
                    <li> <a class="bg-red" routerLink="/homepage"> <i class="fa fa-handshake-o"></i> </a> </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">share</i></a>
                <ul class="dropdown-menu bottom-dropdown">
                    <li> <a class="bg-blue" routerLink="/homepage"> <i class="fa fa-facebook"></i> </a> </li>
                    <li> <a class="bg-whatsapp" routerLink="/homepage"> <i class="fa fa-whatsapp"></i> </a> </li>
                    <li> <a class="bg-red" routerLink="/homepage"> <i class="fa fa-twitter"></i> </a> </li>
                </ul>
            </li>
        </ul>
    </div>

</footer>
