<footer>
    <div class="footer-sec">
        <nav class="">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/category-view" skipLocationChane="true">
                        <i class="cusIco-home"></i>
                        <div> {{"BottomBarandTopBar.home" | translate}} </div>
                    </a>
                </li>
                <li>
                    <a class="text-yellow" routerLink="/homepage" skipLocationChane="true">
                        <i class="material-icons font_34">add_circle</i>
                    </a>
                </li>
                <li class="dropdown profile-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="cusIco-profil"></i>
                        <div> {{"BottomBarandTopBar.myAccount" | translate}} </div>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="profile-dropdown-menu">
                            <li>
                                <a routerLink="/my-profile" class="bg-yellow-g">
                                    <i class="cusIco-profil"></i>{{"MenuScreen.MyAccount" | translate}}
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-profile" class="bg-yellow-g">
                                    <i class="cusIco-donload"></i> My Downloads
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-profile" class="bg-yellow-g">
                                    <i class="cusIco-friends"></i> Network Friends
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-profile" class="bg-yellow-g">
                                    <i class="cusIco-badge"></i> My Saved
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-profile" class="bg-yellow-g">
                                    <i class="fa fa-plus"></i> My Contributions
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="bottom-option">
        <ul class="bottom-ul" type="none">
            <li class="dropdown" *ngIf="showShareButton">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <!-- <i class="material-icons">share</i> -->
                    <img src="./assets/img/share.png" class="img-responsive" />
                </a>
                <ul class="dropdown-menu bottom-dropdown">
                    <li> <a (click)="share('http://europa.promaticstechnologies.com/netpar-pwa-dev')" > <span class="bg-facebook"> <i class="fa fa-facebook"></i> </span><div>{{"FloatingButtonScreen_Share.ShareonFacebook" | translate}}</div> </a> </li>
                    <li> <a href="facebook://send?text=http://europa.promaticstechnologies.com/netpar-pwa-dev"> <span class="bg-blue"> <i class="fa fa-envelope-o"></i> </span> <div>{{"FloatingButtonScreen_Share.Shareviatextmessage" | translate}}</div> </a> </li>
                    <li> <a  href="whatsapp://send?text=http://europa.promaticstechnologies.com/netpar-pwa-dev"> <span class="bg-whatsapp"> <i class="fa fa-whatsapp"></i> </span> <div>{{"FloatingButtonScreen_Share.Shareonwhatsapp"| translate}}</div> </a> </li>
                </ul>
            </li>
            <li class="dropdown two-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <!-- <i class="fa fa-question"></i> -->
                    <img src="./assets/img/help.png" class="img-responsive" />
                </a>
                <ul class="dropdown-menu bottom-dropdown">
                    <!-- <li> <a routerLink="/homepage"> <span class="bg-blue"> <i class="material-icons">call</i> </span><div>Call</div></a> </li> -->
                    <li> <a routerLink="/homepage"> <span class="bg-whatsapp"> <i class="fa fa-whatsapp"></i> </span><div>Contact</div></a> </li>
                    <li> <a routerLink="/homepage"> <span class="bg-red"> <i class="fa fa-handshake-o"></i> </span><div>Help</div></a> </li>
                </ul>
            </li>
        </ul>
    </div>

</footer>
