<footer>
    <div class="footer-sec">
        <nav class="">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/category-view" skipLocationChange="false">
                        <i class="cusIco-home"></i>
                        <div> {{"BottomBarandTopBar.home" | translate}} </div>
                    </a>
                </li>
                <li>
                    <a class="text-yellow" routerLink="/addContribution" skipLocationChange="false">
                        <i class="material-icons font_34">add_circle</i>
                    </a>
                </li>
                <li class="dropdown profile-dropdown" routerLinkActive="active">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="cusIco-profil"></i>
                        <div> {{"BottomBarandTopBar.myAccount" | translate}} </div>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="profile-dropdown-menu">
                            <li>
                                <a routerLink="/my-profile" class="bg-yellow-g" skipLocationChange="false">
                                    <i class="cusIco-profil"></i>{{"ProfilePage.ViewProfile" | translate}}
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-profile" class="bg-yellow-g" skipLocationChange="false">
                                    <i class="cusIco-donload"></i> {{"ProfilePage.ViewDownloadeditems" | translate}}
                                </a>
                            </li>
                            <li>
                                <a routerLink="/friends" class="bg-yellow-g" skipLocationChange="false">
                                    <i class="cusIco-friends"></i> {{"ProfilePage.FriendsOnMyNetwork" | translate}}
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-contribution" class="bg-yellow-g" skipLocationChange="false">
                                    <i class="cusIco-badge"></i> {{"ProfilePage.ViewSavedItems" | translate}}
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-contribution" class="bg-yellow-g" skipLocationChange="false">
                                    <i class="fa fa-plus"></i> {{"ProfilePage.MyContributions" | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="bottom-option">
        <ul class="bottom-ul" type="none">
            <li class="dropdown" *ngIf="showShareButton">
                <!-- <share-buttons [url]="'https://twitter.com'" [showCount]="show"></share-buttons> -->
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <!-- <i class="material-icons">share</i> -->
                    <img src="./assets/img/share.png" class="img-responsive" />
                </a>
                <ul class="dropdown-menu bottom-dropdown">
                    <li> 
                        <a shareButton="facebook" sbUrl="http://europa.promaticstechnologies.com/netpar-pwa-dev/#/shareArticle/{{appProvider.current.article_id}}" (click)="onShare()"> <span class="bg-facebook" (click)="onshare()"> <i class="fa fa-facebook"></i> </span><div>{{"FloatingButtonScreen_Share.ShareonFacebook" | translate}}</div> </a>
                     </li>
                    <li> 
                        <a shareButton="vk" sbUrl="http://europa.promaticstechnologies.com/netpar-pwa-dev/#/shareArticle/{{appProvider.current.article_id}}"> <span class="bg-blue" (click)="onShare()"> <i class="fa fa-envelope-o"></i> </span> <div>{{"FloatingButtonScreen_Share.Shareviatextmessage" | translate}}</div> </a> 
                    </li>
                    <!-- <li> <a  href="https://api.whatsapp.com/send?text=http://europa.promaticstechnologies.com/netpar-pwa-dev/#/shareArticle/{{appProvider.current.article_id}}"> <span class="bg-whatsapp"> <i class="fa fa-whatsapp"></i> </span> <div>{{"FloatingButtonScreen_Share.Shareonwhatsapp"| translate}}</div> </a> </li> -->
                    <li> <a  shareButton="whatsapp" sbUrl="http://europa.promaticstechnologies.com/netpar-pwa-dev/#/shareArticle/{{appProvider.current.article_id}}" (click)="onShare()"> <span class="bg-whatsapp"> <i class="fa fa-whatsapp"></i> </span> <div>{{"FloatingButtonScreen_Share.Shareonwhatsapp"| translate}}</div> </a> </li>
                </ul>
            </li>
            <li class="dropdown two-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <!-- <i class="fa fa-question"></i> -->
                    <img src="./assets/img/help.png" class="img-responsive" />
                </a>
                <ul class="dropdown-menu bottom-dropdown">
                    <!-- <li> <a routerLink="/homepage"> <span class="bg-blue"> <i class="material-icons">call</i> </span><div>Call</div></a> </li> -->
                    <li> <a href="https://api.whatsapp.com/send?phone=917275583095&text=हा%20नेटपरवर%20मदत"> <span class="bg-whatsapp"> <i class="fa fa-whatsapp"></i> </span><div>{{"FloatingButtonScreen_Help.WhatsappforHelp" | translate}}</div></a> </li>
                    <li> <a routerLink="/Faq" skipLocationChange="false"> <span class="bg-red"> <i class="fa fa-handshake-o"></i> </span><div>{{"FloatingButtonScreen_Help.Help" | translate}}</div></a> </li>
                </ul>
            </li>
        </ul>
    </div>

</footer>
