<div class="modal-content cus-modal">
	<div class="row">
		<div class="modal-header">
			<h4 class="modal-title" >Languages <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
		</div>
		<div class="modal-body">
		    <md-list>
				<md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Hindi </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Marathi </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Assamese </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Bengali </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Dogri </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Gujarati </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Punjabi </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Bodo </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Kannada </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Kashmiri </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Urdu </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Telegu </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Konkani </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Malayalam </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Manipuri or Meithei </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> English </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Nepali </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Oriya </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Sanskrit </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Santali </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Sindhi </md-radio-button>
		        <md-radio-button name="State" class="col-md-12 col-sm-12 col-xs-12"> Tamil  </md-radio-button>
			</md-list>
		</div>
	</div>
</div>