<div class="modal-content cus-modal">
	<div class="row">
		<div class="modal-header">
			<h4 class="modal-title" >Languages <span class="pull-right"><a (click)="onClosed()"><i class="fa fa-times"></i></a></span> </h4>
		</div>
		<div class="modal-body">
		    <mat-list>
				<mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Hindi </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Marathi </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Assamese </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Bengali </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Dogri </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Gujarati </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Punjabi </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Bodo </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Kannada </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Kashmiri </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Urdu </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Telegu </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Konkani </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Malayalam </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Manipuri or Meithei </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> English </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Nepali </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Oriya </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Sanskrit </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Santali </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Sindhi </mat-radio-button>
		        <mat-radio-button name="State" class="col-mat-12 col-sm-12 col-xs-12"> Tamil  </mat-radio-button>
			</mat-list>
		</div>
	</div>
</div>