<div class="wrapper">
 <!--    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div> -->
	<app-back-button-navbar></app-back-button-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="tb-wrap">
			<section class="article-sec">
				<div class="card cus-card">
					<div class="inner-card yellow-brd">
				    	<h4 class="font-400"> {{articleData.headline}} </h4>
				    </div>
				    <div class="inner-card dashed-brd">
				    	<p>{{articleData.tagline}} </p>
				    	<p>
				    		<strong> {{"ContentItemView_Scroll1.By" | translate}}: </strong>
				    		<span class="text-blue" *ngIf="articleData.userList[0]"> {{articleData.userList[0].firstName}} {{articleData.userList[0].lastName}} </span>
				    		<span class="text-light pull-right"> {{articleData.dateOfCreation}} </span>
				    	</p>
				    	<p class="m-0 text-right font_12">
				    		<i> {{articleData.likeCount}} {{"ContentItemView_Scroll1.Like" | translate}} &#x25CF; {{articleData.commentCount}} {{"ContentItemView_Scroll1.Comment" | translate}}  </i>
				    	</p>
				    </div>
			    	<ul class="like-bar dashed-brd">
		    			<li class="{{likeClass}}">
		    				<a class="text-danger" (click)="onLike()"><span class="span-icns"> <i class="{{likeIcon}}"></i></span> {{"ContentItemView_Scroll1.Like" | translate}} </a>
		    			</li>
		    			<li>
		    				<a class="text-rose" routerLink="/article-details"><span class="span-icns"> <i class="cusIco-msg-o"></i></span> {{"ContentItemView_Scroll1.Comment" | translate}} </a> 
		    			</li>
		    			<li>
		    				<a class="text-primary" (click)="onSavePost()" ><span class="span-icns"> <i class="{{saveIcon}}"></i></span> {{"ContentItemView_Scroll1.Save" | translate}} </a> 
		    			</li>
		    			<li>
		    				<a class="text-orange" (click)="onDownload()"><span class="span-icns"> <i class="cusIco-donload-o"></i></span> {{"ContentItemView_Scroll1.Download" | translate}} </a> 
		    			</li>
		    		</ul>
		    		<!-- <div *ngFor="let article of articleData.contentBody">
		    			<div *ngIf="article.tag=='image'">
		    				<img src="{{article.url}}">
		    			</div>
		    			<div *ngIf="article.tag=='text'">
		    				<div  [innerHtml]="getSafeContent(article.text)" ></div>
		    			</div>
		    		</div> -->
		    		<div class="inner-card dashed-brd" *ngFor="let content of articleData.contentBody">
					  	<div class="form-group" *ngIf="content.tag=='image'" [ngStyle]="{background:content.backgroundColor}">
					   		<img [src]="content.url" class="img-responsive rad-shad" />
					 	</div>
						<div [ngStyle]="{background:content.backgroundColor}" *ngIf="content.tag=='text'">
						   <div  [innerHtml]="getSafeContent(content.text)" ></div>
						</div>
				  
					  	<audio controls style="width:100%" *ngIf="content.tag=='audio'">
					        <source [src]="content.url"  type="audio/mpeg" />
					        Your browser does not support the audio element.
					    </audio>
					    <video id="my-video" controls preload="auto" width="100%" *ngIf="content.tag=='video'">
					         <source [src]="content.url" type="video/mp4">
					    </video>
				        <div style="text-align: center;" *ngIf="content.tag=='document'" document><img width="50%" style="display: inline-block;" [src]="content.url"></div>
				    	<table class="main" width="100%" cellspacing="0" cellpadding="0" border="0" align="center" data-type="text-block" *ngIf="content.tag=='grid'">
				            <tbody>
				                <tr style="text-align: center;">
				                    <td style="width: 33.33%;border: 1px dashed #333;min-height: 100px;background-color: #f5f5f5;" >
				                        <audio controls style="width:100%" *ngIf="content.audiourl1!=null">
							            	<source [src]="content.audiourl1"  type="audio/mpeg" />
							             	Your browser does not support the audio element.
							         	</audio>
							        	<video id="my-video" controls preload="auto" width="100%" *ngIf="content.videourl1!=null">
							             	<source [src]="content.videourl1" type="video/mp4">
							         	</video>
				                        <img *ngIf="content.documenturl1!=null" width="50%" style="display: inline-block;" [src]="content.documenturl1" >
				                        <img *ngIf="content.imgurl1!=null" style="width:100%" [src]="content.imgurl1">
				                    </td>
				                    <td style="width: 33.33%;border: 1px dashed #333;min-height: 100px;background-color: #f5f5f5;" >
				                        <audio controls style="width:100%" *ngIf="content.audiourl2!=null">
								            <source [src]="content.audiourl2"  type="audio/mpeg" />
								             Your browser does not support the audio element.
								        </audio>
								        <video id="my-video" controls preload="auto" width="100%" *ngIf="content.videourl2!=null">
								             <source [src]="content.videourl2" type="video/mp4">
								        </video>
				                        <img *ngIf="content.documenturl2!=null" width="50%" style="display: inline-block;" [src]="content.documenturl2" >
				                        <img *ngIf="content.imgurl2!=null" style="width:100%" [src]="content.imgurl2">
				                    </td>
				                    <td style="width: 33.33%;border: 1px dashed #333;min-height: 100px;background-color: #f5f5f5;" >
								        <audio controls style="width:100%" *ngIf="content.audiourl3!=null">
								             <source [src]="content.audiourl3"  type="audio/mpeg" />
								             Your browser does not support the audio element.
								        </audio>
								        <video id="my-video" controls preload="auto" width="100%" *ngIf="content.videourl3!=null">
								             <source [src]="content.videourl3" type="video/mp4">
								        </video>
				                        <img *ngIf="content.documenturl3!=null" width="50%" style="display: inline-block;" [src]="content.documenturl3" >
				                        <img *ngIf="content.imgurl3!=null" style="width:100%" [src]="content.imgurl3">
				                    </td>
				                </tr>
				            </tbody>
				        </table>
 					</div>
		    		<!-- <div class="inner-card dashed-brd">
		    			<div class="form-group">
		    				<img src="./assets/img/metro.jpeg" class="img-responsive rad-shad" />
		    			</div>
		    			<p class="text-light">Delhi is in big trouble due to increased fare of the Metro, people obviously resentment. Delhi is in big trouble due to increased fare of the Metro, people obviously resentment. Delhi is in big trouble due to increased fare of the Metro, people obviously resentment. Delhi is in big trouble due to increased fare of the Metro, people obviously resentment</p>
		    		</div> -->
		    		<ul class="like-bar dashed-brd">
		    			<li>
		    				<a class="text-info" routerLink="/article-details"><span class="span-icns"> <i class="fa fa-eye"></i></span> {{articleData.pageView}} </a> 
		    			</li>
		    			<li>
		    				<a class="text-danger" routerLink="/article-details"><span class="span-icns"> <i class="cusIco-okay-o"></i></span> {{articleData.likeCount}} </a>
		    			</li>
		    			<li>
		    				<a class="text-rose" routerLink="/article-details"><span class="span-icns"> <i class="cusIco-msg-o"></i></span> {{articleData.commentCount}} </a> 
		    			</li>
		    			<li>
		    				<a class="text-primary" routerLink="/article-details"><span class="span-icns"> <i class="cusIco-badge-o"></i></span> {{articleData.saveCount}} </a> 
		    			</li>
		    		</ul>
		    		<div class="inner-card dashed-brd"> <h4 class="font-16 m-0"> {{"ContentItemView_Scroll2.Comments"| translate}} </h4> </div>
		    		<div class="inner-card dashed-brd">
		    			<div class="col-mat-12 col-sm-12 col-xs-12 p-0">
		    				<mat-form-field>
	                            <textarea matInput placeholder="{{'CommentBox.EnteryouComment' | translate}}..." rows="3" [(ngModel)]="articleCommentModel.userComment" id="mycomment"></textarea>
	                        </mat-form-field>
		    			</div>
		    			<div class="col-mat-12 col-sm-12 col-xs-12 p-0 text-right form-group">
		    				<button class="btn btn-info btn-sm" (click)="onComment()">Send</button>
		    			</div>
		    			<div  class="loop-div" *ngIf="latestComment">
	    					<div class="user-img">
		    					<img src="./assets/img/profile_user.jpg" class="img-responsive" />
		    				</div>
			    			<div class="comment-box" >
			    				<h5 class="m-0"> {{latestComment.userName}} <span class="pull-right"> {{latestComment.dateOfComment.split('T')[0]}} </span> </h5>
			    				<p>{{latestComment.userComment}}</p>
			    			</div>
				    		<div class="col-mat-12 col-sm-12 col-xs-12 text-center">
				    			<a  class="text-primary" (click)="onViewMore()"><u>{{"ContentItemView_Scroll1.ViewMore" | translate}}</u></a>
				    		</div>
		    			</div>
		    		</div>
		    		<div class="inner-card dashed-brd">
		    			<h4 class="font-16 m-0"> {{"ContentItemView_Scroll2.SuggestedArticles" | translate}} </h4>
		    		</div>
		    		<div class="inner-card">
		    			<div class="suggested-ulist">
			    			<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
						        <div ngxSlickItem class="slide">
							        <a routerLink="/article-details"><img src="./assets/img/img_r-1.jpg"> 
						    			<div class="suggested-div color-red">
						    				<div class="suggested-text">News </div>
						    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
						    			</div>
						    		</a>
						    	</div>
						    	<div ngxSlickItem class="slide">
							        <a routerLink="/article-details"><img src="./assets/img/img_r-2.jpg"> 
						    			<div class="suggested-div color-orange">
						    				<div class="suggested-text">News </div>
						    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
						    			</div>
						    		</a>
						    	</div>
						    	<div ngxSlickItem class="slide">
							        <a routerLink="/article-details"><img src="./assets/img/img_r-3.jpg"> 
						    			<div class="suggested-div color-yellow">
						    				<div class="suggested-text">News </div>
						    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
						    			</div>
						    		</a>
						    	</div>
						    	<div ngxSlickItem class="slide">
							        <a routerLink="/article-details"><img src="./assets/img/img_r-4.jpg"> 
						    			<div class="suggested-div color-blue">
						    				<div class="suggested-text">News </div>
						    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
						    			</div>
						    		</a>
						    	</div>
						    	<div ngxSlickItem class="slide">
							        <a routerLink="/article-details"><img src="./assets/img/img_r-5.jpg"> 
						    			<div class="suggested-div color-green">
						    				<div class="suggested-text">News </div>
						    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
						    			</div>
						    		</a>
						    	</div>
						    	<div ngxSlickItem class="slide">
							        <a routerLink="/article-details"><img src="./assets/img/img_r-6.jpg"> 
						    			<div class="suggested-div color-purple">
						    				<div class="suggested-text">News </div>
						    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
						    			</div>
						    		</a>
						    	</div>
						    	<div ngxSlickItem class="slide">
							        <a routerLink="/article-details"><img src="./assets/img/img_r-7.jpg"> 
						    			<div class="suggested-div color-pink">
						    				<div class="suggested-text">News </div>
						    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
						    			</div>
						    		</a>
						    	</div>  
						    </ngx-slick>
					    </div>
		    		</div>

			    </div>
			    
			</section>
		</div>
		<app-footer></app-footer>
	</div>
</div>