<div class="wrapper">
    <div class="cusmain-panel">
		<section class="editor-sec">
			
			<!-- <div>
		      	<img [src]="imageToDisplay" alt="" />
		    </div> -->

		    <div class="cropping-box">
		     	<ngx-croppie *ngIf="croppieImage" #ngxCroppie [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" (result)="newImageResultFromCroppie($event)"></ngx-croppie>
		    </div>
	      	<!-- <input type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png" /> -->
		    <div class="editor-button">
		      	<button type="button" class="btn" data-dismiss="modal" (click)="cancelCroppieEdit()">Cancel</button>
		      	<button type="button" class="btn" (click)="saveImageFromCroppie()">Save</button>
		    </div>
		    
		</section>
	</div>
</div>

