<div class="modal-content cus-modal" >
	<div class="modal-header text-center">	
		<h4 class="m-t-0"><u> {{"LoginScreen_SignUp.Existing" | translate}} </u> </h4>
	</div>
	<div class="modal-body text-center ">
		<button class="btn custom-btn full-width btn-round" (click)="onSignin()" > {{"LoginScreen_SignIn.continueToSignIn" | translate}} </button>
		<button class="btn custom-btn full-width btn-round" (click)="onUpdateMobileNumber()" > {{"LoginScreen_SignIn.haveANewNumber" | translate}} </button>
	</div>
</div>
