<app-navbar2></app-navbar2>
<section class="home-sec wrap">
    <div class="home-form">
        <div class="login home-panel">
            <img src="./assets/img/logo-5.png" />
            <div class="homeas-sec">
                <form class="example-form" [formGroup]="complexForm">
                    <div class="white-line form-group col-md-6 col-sm-6 col-xs-6">
                        <md-form-field>
                            <span mdPrefix><i class="cusIco-firstname"></i>&nbsp;</span>
                            <input mdInput placeholder="{{'LoginScreen_SignIn.FirstName'| translate}}" type="text" [formControl]="complexForm.controls['firstName']" [(ngModel)]="loginModel.firstName" name="firstName">
                        </md-form-field>
                        <div style="color: #F44336" *ngIf="!complexForm.controls['firstName'].valid  && ( complexForm.controls['firstName'].touched)">
                            <div *ngIf="complexForm.controls['firstName'].errors.required">
                                {{"LoginScreen_SignIn.firstNameRequired" | translate}}
                            </div>
                            <div *ngIf="complexForm.controls['firstName'].errors.pattern">
                                {{"LoginScreen_SignIn.onlyAlphabets" | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="white-line form-group col-md-6 col-sm-6 col-xs-6">
                        <md-form-field>
                            <span mdPrefix> <i class="cusIco-lastname"></i>&nbsp; </span>
                            <input mdInput placeholder="{{'LoginScreen_SignIn.LastName' | translate}}" type="text" [formControl]="complexForm.controls['lastName']" [(ngModel)]="loginModel.lastName" name="lastName"  >
                        </md-form-field>
                        <div style="color: #F44336" *ngIf="!complexForm.controls['lastName'].valid  && ( complexForm.controls['lastName'].touched)">
                            <div *ngIf="complexForm.controls['lastName'].errors.required">
                                {{"LoginScreen_SignIn.lastNameRequired" | translate}}
                            </div>
                            <div *ngIf="complexForm.controls['lastName'].errors.pattern">
                                {{"LoginScreen_SignIn.onlyAlphabets" | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="white-line form-group col-md-12 col-sm-12 col-xs-12">
                        <md-form-field>
                            <span mdPrefix> <i class="cusIco-contact"></i>&nbsp; </span>
                            <input mdInput placeholder="{{'LoginScreen_SignIn.MobileNumber' | translate}}" type="text" [formControl]="complexForm.controls['contactNumber']" [(ngModel)]="loginModel.mobileNumber" name="contactNumber"  >
                        </md-form-field>
                        <div style="color: #F44336" *ngIf="!complexForm.controls['contactNumber'].valid  && ( complexForm.controls['contactNumber'].touched)">
                            <div *ngIf="complexForm.controls['contactNumber'].errors.required ">
                                {{"LoginScreen_SignIn.mobileRequired" | translate}}
                            </div>
                            <div *ngIf="complexForm.controls['contactNumber'].errors.pattern">
                                {{"LoginScreen_SignIn.onlyDigits" | translate}}
                            </div>
                            <div *ngIf="complexForm.controls['contactNumber'].errors.minlength">
                                {{"LoginScreen_SignIn.lessThanTen" | translate}}
                            </div>
                            <div *ngIf="complexForm.controls['contactNumber'].errors.maxlength">
                                {{"LoginScreen_SignIn.moreThanTen" | translate}}
                            </div>
                        </div> 
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <button class="btn custom-btn btn-round full-width" *ngIf="data=='login'" (click)="onLogIn()" [disabled]="!complexForm.valid" > {{"LoginScreen_SignIn.SignIn" | translate}} </button>
                        <button class="btn custom-btn btn-round full-width" *ngIf="data=='signup'" (click)="onNext()" [disabled]="!complexForm.valid" > {{"LoginScreen_SignIn.Next" | translate}} </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <a routerLink="/home"> Take a Tour </a>
    </div>
    
</section>

