<app-navbar></app-navbar>
<section class="home-sec wrap">
    <div class="home-form">
        <div class="login home-panel">
            <img src="./assets/img/logo-5.png" />
            <div class="homeas-sec">
                <form class="example-form">
                    <div class="white-line form-group col-md-6 col-sm-6 col-xs-6">
                        <md-form-field>
                            <span mdPrefix><i class="cusIco-firstname"></i>&nbsp;</span>
                            <input mdInput placeholder="First Name" type="text">
                        </md-form-field>
                    </div>
                    <div class="white-line form-group col-md-6 col-sm-6 col-xs-6">
                        <md-form-field>
                            <span mdPrefix> <i class="cusIco-lastname"></i>&nbsp; </span>
                            <input mdInput placeholder="Last Name" type="text" >
                        </md-form-field>
                    </div>
                    <div class="white-line form-group col-md-12 col-sm-12 col-xs-12">
                        <md-form-field>
                            <span mdPrefix> <i class="cusIco-contact"></i>&nbsp; </span>
                            <input mdInput placeholder="Contact No" type="text" >
                        </md-form-field>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <button class="btn custom-btn btn-round full-width" routerLink="/otp"> Sign In </button>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <a routerLink="/home"> Take a Tour </a>
    </div>
</section>

