.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
	background-color: #9c27b0
}
.mat-tab-label {
  color: #000;
  opacity: 1;
}
.mat-tab-label-active.mat-tab-label {
  color: #9c27b0;
  opacity: 1;
}