<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

	<app-navbar></app-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="tb-wrap">
			<section class="article-sec">
				<div class="card cus-card bg-img">
	    			<div class="user-profile">	
	    				<img src="{{profilePicture}}" class="img-responsive" (click)="file.click()" *ngIf="!appProvider.current.cropedImage"/>
	    				<img src="{{appProvider.current.cropedImage}}" *ngIf="appProvider.current.cropedImage" (click)="file.click()">
	    				<div style="display: none;"><input type="file" accept="image/*" #file id="uploadImage" (change)="selectImage($event)"></div>
	    				<div> {{userData.firstName}} {{userData.lastName}} </div>
	    			</div>
	    			<div class="number-profile">
	    				<div>
	    					<span> 1452 </span>
	    					<div> {{"ProfilePage_Scroll1.Friends" | translate}} </div>
	    				</div>
	    				<div>
	    					<span> 1452 </span>
	    					<div> {{"ProfilePage_Scroll1.article" | translate}} </div>
	    				</div>
	    				<div>
	    					<span> 1452 </span>
	    					<div> {{"ProfilePage_Scroll1.Contributions" | translate}} </div>
	    				</div>
	    			</div>
	    			<div class="profile-detail">
	    				<div class="list" *ngIf="!editMobileNumber">
	    					<span>
	    						<i class="material-icons">call</i>
	    					</span>
	    					<span> +91-{{userData.mobileNumber}} </span>
	    					<span class="" (click)="edit('mobileNumber')"> <i class="material-icons">mode_edit</i> </span>
	    				</div>
	    				<div class="white-line" *ngIf="editMobileNumber">
	    					<mat-form-field>
	                            <input matInput placeholder="Contact No" type="text" [(ngModel)]="userData.mobileNumber">
	                            <span matSuffix (click)="onSend('mobileNumber')"><i class="material-icons">send</i>&nbsp;</span>
	                        </mat-form-field>
	    				</div>
	    				<div class="list" *ngIf="!editgender">
	    					<span>
	    						<i class="fa fa-venus-mars"></i>
	    					</span>
	    					<span> {{userData.gender}} </span>
	    					<span class="" (click)="edit('gender')"> <i class="material-icons">mode_edit</i> </span>
	    				</div>
	    				<div class="white-line" *ngIf="editgender">
		    				<table class="example-full-width" cellspacing="0">
		    					<tr>
							    	<td>
							    		<mat-radio-button name="gender">Male</mat-radio-button>
							    	</td>
							    	<td>
                        				<mat-radio-button name="gender">Female</mat-radio-button>
							    	</td>
							    	<td>
							    		<span (click)="onSend('gender')"><i class="material-icons">send</i>&nbsp;</span>
							    	</td>
							  	</tr>
							</table>
						</div>
	    				<div class="list" *ngIf="!editAddress">
	    					<span>
	    						<i class="material-icons" >location_on</i>
	    					</span>
	    					<span> {{userData.block}}, {{userData.district}},{{userData.state}} </span>
	    					<span class=""> <i class="material-icons" (click)="edit('address')">mode_edit</i> </span>
	    				</div>
	    				<div class="white-line" *ngIf="editAddress">
		    				<table class="example-full-width" cellspacing="0">
		    					<tr>
							    	<td>
							    		<mat-form-field>   
				                            <mat-select placeholder="{{'Login_SecurityQuestions.State' | translate}}" name="state" >
				                                <mat-option  value="महाराष्ट्र"> महाराष्ट्र </mat-option>
				                            </mat-select>
                        				</mat-form-field>
							    	</td>
							    	<td>
							    		<mat-form-field>
				                            <mat-select placeholder="{{'Login_SecurityQuestions.District' | translate}}"  name="District">
				                        		<mat-option value="नंदुरबार"> नंदुरबार </mat-option>
				                            </mat-select>
                        				</mat-form-field>
							    	</td>
							    	<td>
							    		<mat-form-field>
				                            <mat-select placeholder="{{'Login_SecurityQuestions.Block' | translate}}" name="Block">
				                                <mat-option value="अक्कलकुवा"> अक्कलकुवा </mat-option>
				                                <mat-option value="अक्रानी"> अक्रानी </mat-option>
				                            </mat-select>
                       					</mat-form-field>
							    	</td>
							    	<td>
							    		<span (click)="onSend('address')"><i class="material-icons">send</i>&nbsp;</span>
							    	</td>
							  	</tr>
							</table>
						</div>
	    				<div class="list" *ngIf="!editDob">
	    					<span>
	    						<i class="fa fa-calendar"></i>
	    					</span>
	    					<span> {{userData.dateOfBirth}} </span>
	    					<span class="" (click)="edit('dob')"> <i class="material-icons">mode_edit</i> </span>
	    				</div>
						<div class="white-line" *ngIf="editDob">
		    				<table class="example-full-width" cellspacing="0">
		    					<tr>
							    	<td>
							    		<mat-form-field>
				                            <mat-select placeholder="{{'Login_SecurityQuestions.Date' | translate}}"  name="Date" [(ngModel)]="dd">
				                        		<mat-option  [value]="d.value" *ngFor="let d of days"> {{d.value}} </mat-option>
				                            </mat-select>
                        				</mat-form-field>
							    	</td>
							    	<td>
							    		<mat-form-field>
				                            <mat-select placeholder="{{'Login_SecurityQuestions.Month' | translate}}"  name="month" [(ngModel)]="mm">
				                        		<mat-option  [value]="m.name" *ngFor="let m of months">{{m.name}}</mat-option>
				                            </mat-select>
				                        </mat-form-field>
							    	</td>
							    	<td>
							    		<mat-form-field>
				                            <mat-select placeholder="{{'Login_SecurityQuestions.Year' | translate}}"  name="year" [(ngModel)]="yy">
				                        		<mat-option  [value]="y.year" *ngFor="let y of years"> {{y.year}} </mat-option>
				                            </mat-select>
				                        </mat-form-field>
							    	</td>
							    	<td>
							    		<span (click)="onSend('dob')"><i class="material-icons">send</i>&nbsp;</span>
							    	</td>
							  	</tr>
							</table>
						</div>
                    </div>
				</div>
				<div class="card cus-card downloads">
					<div class="list-heading brd-b">
						{{"ProfilePage_Scroll1.Downloaded" | translate}}<span class="pull-right"> <i class="fa fa-angle-right"></i> </span>
					</div>
					<div class="download-box">
						<div class="dow-li mat-2">
							<img src="./assets/img/img-12.jpg" class="img-effect img-responsive" />
							<span class="badge"> <i class="fa fa-trash"></i> </span>
						</div>
						<div class="dow-li mat-2">
							<img src="./assets/img/img-13.jpg" class="img-effect img-responsive" />
							<span class="badge"> <i class="fa fa-trash"></i> </span>
						</div>
						<div class="dow-li mat-3">
							<img src="./assets/img/img-2.jpg" class="img-effect img-responsive" />
							<span class="badge"> <i class="fa fa-trash"></i> </span>
						</div>
						<div class="dow-li mat-3">
							<img src="./assets/img/img-3.jpg" class="img-effect img-responsive" />
							<span class="badge"> <i class="fa fa-trash"></i> </span>
						</div>
						<div class="dow-li mat-3">
							<img src="./assets/img/img-5.jpg" class="img-effect img-responsive" />
							<span class="badge"> <i class="fa fa-trash"></i> </span>
						</div>
					</div>
					<div class="list-heading brd-t">
						<span class="pull-right"> {{"ProfilePage_Scroll1.SeeMore" | translate}} <i class="fa fa-angle-right"></i> </span>
					</div>
				</div>
				<div class="card cus-card friend-list">
					<div class="list-heading">
						{{"ProfilePage_Scroll1.FriendsOnMynetwork" | translate}}
					</div>
					<div class="download-box">
						<div class="download-popup">
							<div class="flex-div">
								<div class="flex-innerdiv">
								   	<p> {{'download.downloadAppFromPlaystore' | translate}}</p>
					   				<button class="btn custom-btn btn-round">  {{'ContentItemView_Scroll2.Donwload' | translate}} </button>
					           </div>
					       </div>
					   </div>
						<div class="dow-li mat-3">
							<img src="./assets/img/profile_user.jpg" class="img-effect img-responsive" />
							<p> Raj Kumar </p>
						</div>
						<div class="dow-li mat-3">
							<img src="./assets/img/profile_user.jpg" class="img-effect img-responsive" />
							<p> Raj Kumar </p>
						</div>
						<div class="dow-li mat-3">
							<img src="./assets/img/profile_user.jpg" class="img-effect img-responsive" />
							<p> Raj Kumar </p>
						</div>
						<div class="dow-li mat-3">
							<img src="./assets/img/profile_user.jpg" class="img-effect img-responsive" />
							<p> Raj Kumar </p>
						</div>
						<div class="dow-li mat-3">
							<img src="./assets/img/profile_user.jpg" class="img-effect img-responsive" />
							<p> Raj Kumar </p>
						</div>

					</div>
					<!-- <div class="list-heading brd-t">
						<span class="pull-right"> {{"ProfilePage_Scroll1.SeeMore" | translate}} <i class="fa fa-angle-right"></i> </span>
					</div> -->
				</div>
				<div class="card cus-card">
					<mat-tab-group class="cus-mat">
					  	<mat-tab label="{{'ProfilePage_Scroll1.SavedPosts' | translate}}">
					  		<div class="list-view3">
				    			<div class="view-lists grid-1" *ngFor="let savedPost of savedPosts;let i=index">
							        <a (click)="onSaved(savedPost)" class="{{colorClass(i)}}">
							        	<img src="{{savedPost.thumbnailPicture}}" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">{{savedPost.sectionName}} </div>
							    			</div>
							    			<div class="detail-text"> {{savedPost.headline}} </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>
						    </div>	
					  	</mat-tab>
					  	<mat-tab label="{{'ProfilePage_Scroll1.Contributions' | translate}}">
					  		<div class="list-view3">
				    			<div class="view-lists grid-1">
							        <a routerLink="/article-details" class="color-red">
							        	<img src="./assets/img/img_r-1.jpg" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">News </div>
							    			</div>
							    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>
						    	<div class="view-lists grid-1">
							        <a routerLink="/article-details" class="color-orange">
							        	<img src="./assets/img/img_r-2.jpg" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">News </div>
							    			</div>
							    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>

						    	<div class="view-lists grid-1">
							        <a routerLink="/article-details" class="color-yellow">
							        	<img src="./assets/img/img_r-3.jpg" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">News </div>
							    			</div>
							    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>
						    	<div class="view-lists grid-1">
							        <a routerLink="/article-details" class="color-blue">
							        	<img src="./assets/img/img_r-4.jpg" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">News </div>
							    			</div>
							    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>
						    	<div class="view-lists grid-1">
							        <a routerLink="/article-details" class="color-green">
							        	<img src="./assets/img/img_r-5.jpg" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">News </div>
							    			</div>
							    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>
						    	<div class="view-lists grid-1">
							        <a routerLink="/article-details" class="color-purple">
							        	<img src="./assets/img/img_r-6.jpg" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">News </div>
							    			</div>
							    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>
						    	<div class="view-lists grid-1">
							        <a routerLink="/article-details" class="color-pink">
							        	<img src="./assets/img/img_r-7.jpg" class="img-effect img-responsive"> 
						    			<div class="list-text-wrap one-heading">
							    			<div class="suggested-div">
							    				<div class="suggested-text">News </div>
							    			</div>
							    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
						    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
							    		</div>
						    			<div class="line"></div>
						    		</a>
						    	</div>
						    	
						    </div>

					  	</mat-tab>
					</mat-tab-group>
				</div>

			</section>
			<app-footer></app-footer>
		</div>
	</div>
</div>