<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

	<app-navbar></app-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="tb-wrap">
			<section class="article-sec">
				<div class="card cus-card">
	    			<div class="list-view list-view7">
		    			<div class="big-view">
		    				<div class="innerbig-view">
		    					<img src="./assets/img/big-img.jpg" class="img-effect img-responsive" />
		    					<p class="overlay-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
		    				</div>
		    			</div>

		    			<div class="view-lists grid-1">
					        <a routerLink="/listing-view8" class="color-red">
					        	<img src="./assets/img/img_r-1.jpg" class="img-effect img-responsive"> 
				    			<div class="list-text-wrap one-heading">
				    				<div class="text-red"> Games </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
					    		</div>
			    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
				    			<div class="line"></div>
				    		</a>
				    	</div>

				    	<div class="view-lists grid-1 right-view">
					        <a routerLink="/listing-view8" class="color-orange">
				    			<div class="list-text-wrap one-heading">
				    				<div class="text-red"> Games </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
					    		</div>
					        	<img src="./assets/img/img_r-2.jpg" class="img-effect img-responsive"> 
			    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
				    			<div class="line"></div>
				    		</a>
				    	</div>
				    	<div class="view-lists grid-1">
					        <a routerLink="/listing-view8" class="color-yellow">
					        	<img src="./assets/img/img_r-3.jpg" class="img-effect img-responsive"> 
				    			<div class="list-text-wrap one-heading">
				    				<div class="text-red"> Games </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
					    		</div>
			    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
				    			<div class="line"></div>
				    		</a>
				    	</div>

				    	<div class="view-lists grid-3">
					        <a routerLink="/listing-view8" class="color-blue"><img src="./assets/img/img_r-4.jpg"> 
				    			<div class="suggested-div">
				    				<div class="line"></div>
				    				<div class="suggested-text">News </div>
				    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
				    			</div>
				    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    		</a>
				    	</div>
				    	<div class="view-lists grid-3">
					        <a routerLink="/listing-view8" class="color-green"><img src="./assets/img/img_r-5.jpg"> 
				    			<div class="suggested-div">
				    				<div class="line"></div>
				    				<div class="suggested-text">News </div>
				    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
				    			</div>
				    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    		</a>
				    	</div>
				    	<div class="view-lists grid-3">
					        <a routerLink="/listing-view8" class="color-purple"><img src="./assets/img/img_r-6.jpg"> 
				    			<div class="suggested-div">
				    				<div class="line"></div>
				    				<div class="suggested-text">News </div>
				    				<div class="suggested-icons"><i class="material-icons">arrow_forward</i></div>
				    			</div>
				    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    		</a>
				    	</div>

				    	<!--  -->
				    	<div class="big-view">
		    				<div class="innerbig-view">
		    					<img src="./assets/img/big-img.jpg" class="img-effect img-responsive" />
		    					<p class="overlay-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
		    				</div>
		    			</div>

				    	<div class="view-lists grid-1 right-view">
					        <a routerLink="/listing-view8" class="color-pink">
				    			<div class="list-text-wrap one-heading">
				    				<div class="text-red"> Games </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </div>
					    		</div>
					        	<img src="./assets/img/img_r-1.jpg" class="img-effect img-responsive"> 
			    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
				    			<div class="line"></div>
				    		</a>
				    	</div>

				    </div>

				</div>
			</section>
			<app-footer></app-footer>
		</div>
	</div>
</div>