<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

	<app-navbar></app-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="tb-wrap">
			<section class="article-sec">
				<div class="card cus-card">
	    			<div class="list-view3">
		    			<div class="big-view">
		    				<div class="innerbig-view">
		    					<img src="./assets/img/big-img.jpg" class="img-responsive" />
		    					<p class="overlay-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
		    				</div>
		    			</div>
		    			<div class="view-lists">
					        <a routerLink="/listing-view7" class="color-red">
					        	<div class="simple-list">
					        		<div class="text-red"> Game </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
					    		</div>
				    			<div class="line"></div>
				    		</a>
				    	</div>
				    	<div class="view-lists">
					        <a routerLink="/listing-view7" class="color-orange">
					        	<div class="simple-list">
					        		<div class="text-red"> Game </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
					    		</div>
				    			<div class="line"></div>
				    		</a>
				    	</div>
				    	<div class="view-lists">
					        <a routerLink="/listing-view7" class="color-yellow">
					        	<div class="simple-list">
					        		<div class="text-red"> Game </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
					    		</div>
				    			<div class="line"></div>
				    		</a>
				    	</div>
				    	<div class="view-lists">
					        <a routerLink="/listing-view7" class="color-blue">
					        	<div class="simple-list">
					        		<div class="text-red"> Game </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
					    		</div>
				    			<div class="line"></div>
				    		</a>
				    	</div>
				    	<div class="view-lists">
					        <a routerLink="/listing-view7" class="color-green">
					        	<div class="simple-list">
					        		<div class="text-red"> Game </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
					    		</div>
				    			<div class="line"></div>
				    		</a>
				    	</div>
				    	<div class="view-lists">
					        <a routerLink="/listing-view7" class="color-purple">
					        	<div class="simple-list">
					        		<div class="text-red"> Game </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
					    		</div>
				    			<div class="line"></div>
				    		</a>
				    	</div>
				    	<div class="view-lists">
					        <a routerLink="/listing-view7" class="color-pink">
					        	<div class="simple-list">
					        		<div class="text-red"> Game </div>
					    			<div class="suggested-div">
					    				<div class="suggested-text">News </div>
					    			</div>
					    			<div class="detail-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
				    				<div class="suggested-icons abs-align"><i class="material-icons">arrow_forward</i></div>
					    		</div>
				    			<div class="line"></div>
				    		</a>
				    	</div>

				    					    	
				    </div>

				</div>
			</section>
			<app-footer></app-footer>
		</div>
	</div>
</div>