<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>
    <app-navbar></app-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<section class="tb-wrap">
			
			<md-expansion-panel class="filter-box">
			  	<md-expansion-panel-header>
			   	 	<md-panel-title>
			      		News
					</md-panel-title>
			    	<span class="pull-right">
						<md-checkbox></md-checkbox>
					</span>
				</md-expansion-panel-header>
			  
			  	<md-expansion-panel class="sub-panel">
			  		<!-- sub-panel -->
				  	<md-expansion-panel-header>
				   	 	<md-panel-title>
				      		Games News
						</md-panel-title>
					</md-expansion-panel-header>
					
					<!-- content -->
					Football News
					<span class="pull-right">
						<md-checkbox></md-checkbox>
					</span>

					<!-- sub-panel -->
				  	<md-expansion-panel-header>
				   	 	<md-panel-title>
				      		Games News
						</md-panel-title>
					</md-expansion-panel-header>
					
					<!-- content -->
					Football News
					<span class="pull-right">
						<md-checkbox></md-checkbox>
					</span>

					<!-- sub-panel -->
				  	<md-expansion-panel-header>
				   	 	<md-panel-title>
				      		Games News
						</md-panel-title>
					</md-expansion-panel-header>
					
					<!-- content -->
					Football News
					<span class="pull-right">
						<md-checkbox></md-checkbox>
					</span>

				</md-expansion-panel>

			</md-expansion-panel>

		</section>

		<app-footer></app-footer>

	</div>
</div>