<div class="modal-content cus-modal" >
	<div class="modal-header text-center color-red">
		<h1 class="close-icon m-0"> <i class="material-icons">highlight_off</i></h1>	
		<h4 class="m-t-0">{{"errorMessage.sorry" | translate}}</h4>
	</div>
	<div class="modal-body text-center ">
		<button class="btn custom-btn full-width btn-round" (click)="onRecheckDetails()" > {{"Login_ErrorMessage_RecheckYourDetails.recheckDetails" | translate}} </button>
		<button class="btn custom-btn full-width btn-round" (click)="onNewUser()" >{{"LoginScreen_SignIn.NewUser" | translate}} </button>
	</div>
</div>