<div class="wrapper">
    <app-back-button-navbar></app-back-button-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="header-extra" ></div>
		<section class="homepage-sec tb-wrap">
		    <div class="homepage-listing" *ngIf="subCategoryTemplateStyle=='SubCategory-view Template Four'">
			    <ul class="homepage-ulist">
			    	<li class="{{bgClass(i)}}" *ngFor="let subCategory of categoryData.section_subcategories; let i=index"> 
			    		<a (click)="onSubcategory(subCategory)"> {{subCategory.subCategoryName}} </a>
			    	</li>
			    </ul>
		    </div>
		    <div class="homepage2-listing" *ngIf="subCategoryTemplateStyle=='SubCategory-view Template Two'">
			    <ul class="homepage2-ulist">
			    	<li *ngFor="let subCategory of categoryData.section_subcategories">
			    		<a (click)="onSubcategory(subCategory)" >
			    			<img src="{{subCategory.thumbnailImage}}" *ngIf="subCategory.thumbnailImage"> 
			    			<img src="http://placehold.it/300x300"  *ngIf="!subCategory.thumbnailImage">
			    		<p>{{subCategory.subCategoryName}} </p> </a>
			    	</li>
			    </ul>
		    </div>
		    <div class="homepage2-listing" *ngIf="subCategoryTemplateStyle=='SubCategory-view Template One'">
			    <ul class="homepage2-ulist">
			    	<li *ngFor="let subCategory of categoryData.section_subcategories">
			    		<a  (click)="onSubcategory(subCategory)" >
			    			<img src="{{subCategory.thumbnailImage}}" *ngIf="subCategory.thumbnailImage" > 
			    			<img src="http://placehold.it/300x300"  *ngIf="!subCategory.thumbnailImage">
			    		<p>{{subCategory.subCategoryName}} </p> </a>
			    	</li>	
			    </ul>
		    </div>
		    <div *ngIf="subCategoryTemplateStyle=='SubCategory-view Template Three'">
		    	 <ul class="homepage-ulist sec">
			    	<li *ngFor="let subCategory of categoryData.section_subcategories; let i=index">
			    		<div (click)="onSubcategory(subCategory)" class="homepage-bg" [ngStyle]="{'background-image': 'url(' + subCategory.horigontalImage + ')'}" *ngIf="subCategory.horigontalImage">
			    			<a >
			    				{{subCategory.subCategoryName}}
			    	   		 </a> 
			    		</div>
			    		<div class="homepage-bg" style="background-image:url('http://placehold.it/300x60')" (click)="onSubcategory(subCategory)" 
			    		    *ngIf="!subCategory.horigontalImage">
			    			<a >
			    				{{subCategory.subCategoryName}}
			    	   		 </a> 
			    		</div>
			    	</li>
			    </ul>
		    </div>
		</section>
		<app-footer></app-footer>
	</div>
</div>




<!--///////////////////////// static code ////////////////////////////// -->
<!-- <div class="wrapper">
	<app-back-button-navbar></app-back-button-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="header-extra" ></div>
		<section class="homepage-sec tb-wrap">
		    <div class="homepage2-listing">
			    <ul class="homepage2-ulist" >
			    	<li *ngFor="let category of categories">
			    		<a routerLink="/homepage3"><img src="{{category.thumbnailImage}}"> 
			    		<p>{{category.categoryName}} </p> </a>
			    	</li>
			    </ul>
		    </div>
		</section>
		<app-footer></app-footer>
	</div>
</div> -->
