<app-navbar></app-navbar>
<div class="header-extra"></div>
<section class="homepage-sec tb-wrap">
    <div class="homepage2-listing">
	    <ul class="homepage2-ulist">
	    	<li class="bg-red">
	    		<a routerLink="/article-details"><img src="./assets/img/jobs-512.png"> 
	    		<p>Jobs </p> </a>
	    	</li>
	    	<li class="bg-orange">
	    		<a routerLink="/article-details"> <img src="./assets/img/news.png" /> 
	    		<p>News </p> </a>
	    	</li>
	    	<li class="bg-yellow">
	    		<a routerLink="/article-details"> <img src="./assets/img/politics-512.png" /> 
	    		<p>Politics </p> </a>
	    	</li>
	    	<li class="bg-blue">
	    		<a routerLink="/article-details"> <img src="./assets/img/science-512.png" /> 
	    		<p>Science </p> </a>
	    	</li>
	    	<li class="bg-green">
	    		<a routerLink="/article-details"> <img src="./assets/img/education-512.png" /> 
	    		<p>Education </p> </a>
	    	</li>	
	    	<li class="bg-pink">
	    		<a routerLink="/article-details"> <img src="./assets/img/agriculture-512.png" /> 
	    		<p>Agriculture </p> </a>
	    	</li>	
	    </ul>
    </div>
</section>
<app-footer></app-footer>