<div class="wrapper">
	<app-back-button-navbar></app-back-button-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="header-extra" ></div>
		<section class="homepage-sec tb-wrap">
		    <div class="homepage2-listing">
			    <ul class="homepage2-ulist" >
			    	<li *ngFor="let category of categories">
			    		<a routerLink="/homepage3"><img src="{{category.thumbnailImage}}"> 
			    		<p>{{category.categoryName}} </p> </a>
			    	</li>
			    </ul>
		    </div>
		</section>
		<app-footer></app-footer>
	</div>
</div>
