<div class="logo">
    <a routerLink="/homepage" skipLocationChange="true" class="simple-text">
        <div class="logo-img">
            <img src="./assets/img/logo.png"/>
        </div>
        Netpar
    </a>
</div>
    <div class="sidebar-wrapper ps-container" [perfect-scrollbar]="config">
        <!-- <div class="user">
            <div class="photo">
                <img src="./assets/img/avatar1.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample">
                    <span>
                        Tania Andrew
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse {{profile}}" id="collapseExample">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <a routerLink="/profile"> skipLocationChange="true"
                                <span class="sidebar-mini">MP</span>
                                <p>My Profile</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="nav-container">
            <ul class="nav">
                <li routerLinkActive="active" >
                    <a routerLink="/category-view"  skipLocationChange="true" (click)="navRemove()">
                        <i class="material-icons">home</i>
                        <p>{{"MenuScreen.Home" | translate}}</p>
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#profile" aria-expanded="false" >
                        <i class="cusIco-profil"></i>
                        <p>{{"MenuScreen.Profile" | translate}}<b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="profile" aria-expanded="false">
                        <ul class="nav">
                            <li routerLinkActive="active">
                                <a routerLink="/my-profile" skipLocationChange="true" (click)="navRemove()">
                                    <span class="sidebar-mini">MP</span>
                                    <p>{{"MenuScreen.MyAccount" | translate}}</p>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/my-contribution" skipLocationChange="true" (click)="navRemove()"> 
                                    <span class="sidebar-mini">VS</span>
                                    <p>{{"MenuScreen.ViewMySavedItems" | translate}}</p>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/my-downloads" skipLocationChange="true" (click)="navRemove()"> 
                                    <span class="sidebar-mini">VD</span>
                                    <p>{{"MenuScreen.ViewMyDownloadedItems" | translate}}</p>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/my-contribution" skipLocationChange="true" (click)="navRemove()"> 
                                    <span class="sidebar-mini">VC</span>
                                    <p>{{"MenuScreen.ViewMyContributions" | translate}}</p>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/my-contribution" skipLocationChange="true" (click)="navRemove()"> 
                                    <span class="sidebar-mini">VS</span>
                                    <p>{{"MenuScreen.FriendsOnTheNetwork" | translate}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li routerLinkActive="active" >
                    <a routerLink="/user-contribution" skipLocationChange="true" (click)="navRemove()"> 
                        <i class="material-icons">pie_chart</i>
                        <p>{{"MenuScreen.Contribute" | translate}}</p>
                    </a>
                </li>
                <li routerLinkActive="active" >
                    <a routerLink="/friends" skipLocationChange="true" (click)="navRemove()"> 
                        <i class="material-icons">drafts</i>
                        <p>{{"MenuScreen.InviteFriends" | translate}}</p>
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#section" aria-expanded="false" >
                        <i class="material-icons">dashboard</i>
                        <p>{{"MenuScreen.section" | translate}}<b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="section" aria-expanded="false">
                        <ul class="nav">
                            <li *ngFor="let sec of sections;let i=index">
                                <a data-toggle="collapse" href="#{{i}}" aria-expanded="false" (click)="onSection(sec)" >
                                    <p >{{sec.sectionName}}<b class="caret"></b> </p>
                                </a>
                                <div class="collapse" id="{{i}}" aria-expanded="false">
                                    <ul class="nav">
                                        <li *ngFor="let category of sec.section_categories;let j=index">
                                            <a data-toggle="collapse" href="#sec_{{j}}" aria-expanded="false">
                                                <p>{{category.categoryName}}<b class="caret"></b> </p>
                                            </a>
                                            <div class="collapse" id="sec_{{j}}" aria-expanded="false">
                                                <ul class="nav">
                                                    <li *ngFor="let subCategory of category.section_subcategories">
                                                        <a data-toggle="collapse" aria-expanded="false"  skipLocationChange="true" (click)="onSubCategory(subCategory)"> 
                                                            <p>{{subCategory.subCategoryName}}</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </li>
                <li routerLinkActive="active" >
                    <a  skipLocationChange="true" (click)="navRemove()"> 
                        <i class="material-icons">star</i>
                        <p>{{"MenuScreen.Rateus" | translate}}</p>
                    </a>
                </li>
                <li routerLinkActive="active" >
                    <a  skipLocationChange="true" (click)="navRemove()"> 
                        <i class="material-icons">info</i>
                        <p>{{"MenuScreen.Aboutus" | translate}}</p>
                    </a>
                </li>
                <li routerLinkActive="active" >
                    <a  skipLocationChange="true"> 
                        <i class="material-icons">library_books</i>
                        <p>{{"MenuScreen.privacyPolicy" | translate}}</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
