<div class="modal-content cus-modal" >
	<div class="modal-header text-center">
		<h4 class="m-t-0"> Please answer the security question. </h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 p-b-0">
	        	<p><strong>Ques:</strong> What is your Date of Birth? </p>
	        </div>
	        <div class="form-group col-md-12 col-sm-12 col-xs-12" >
                <md-form-field>
                    <input mdInput [mdDatepicker]="picker" placeholder="MM/DD/YYYY" name="dob"  [formControl]="complexForm.controls['dob']" [(ngModel)]="DOB">
                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                    <md-datepicker #picker></md-datepicker>
               </md-form-field>
                <div style="color: #F44336" *ngIf="!complexForm.controls['dob'].valid  && ( complexForm.controls['dob'].touched)">
                    <div *ngIf="complexForm.controls['dob'].errors.required">
                        Date of Birth is required
                    </div>
                </div>
	         <!--    <md-select placeholder="DD" [(ngModel)]="dd">
	        		<md-option value="01"> 01 </md-option>
	                <md-option value="02"> 02 </md-option>
	                <md-option value="03"> 03 </md-option>
	                <md-option value="04"> 04 </md-option>
	                <md-option value="05"> 05 </md-option>
	            </md-select>
	        </div>
	        <div class="form-group col-md-4 col-sm-4 col-xs-4" >
	            <md-select placeholder="MM" [(ngModel)]="mm">
	        		<md-option value="Jan"> Jan </md-option>
	                <md-option value="Feb"> Feb </md-option>
	                <md-option value="Mar"> Mar </md-option>
	                <md-option value="Jun"> Jun </md-option>
	                <md-option value="July"> July </md-option>
	                <md-option value="Aug"> Aug </md-option>
	            </md-select>
	        </div>
	        <div class="form-group col-md-4 col-sm-4 col-xs-4" >
	            <md-select placeholder="YYYY" [(ngModel)]="yy">
	        		<md-option value="1980"> 1980 </md-option>
	                <md-option value="1981"> 1981 </md-option>
	                <md-option value="1982"> 1982 </md-option>
	                <md-option value="1983"> 1983 </md-option>
	            </md-select>
	        </div> -->
	        <div class="form-group col-md-12 col-sm-12 col-xs-12 p-0">
	        	<p><strong>Ques:</strong> What is your Gender? </p>
	             <md-radio-group name="Gender" [(ngModel)]="securityDialogModel.gender" [formControl]="complexForm.controls['gender']">
                    <md-radio-button value="Male" class="col-md-6 col-sm-6 col-xs-6">Male</md-radio-button>
                    <md-radio-button value="Female" class="col-md-6 col-sm-6 col-xs-6">Female</md-radio-button>
                  </md-radio-group>
                  <div style="color: #F44336" *ngIf="!complexForm.controls['gender'].valid  && ( complexForm.controls['gender'].touched)">
                        <div *ngIf="complexForm.controls['gender'].errors.required">
                            gender is required
                        </div>
                   </div>
	        </div>
			<button class="btn custom-btn full-width btn-round" (click)="onOk()" [disabled]="!complexForm.valid"> Ok </button>
		</div>
	</div>
</div>

<!-- <div class="modal-content cus-modal" *ngIf="fromPage=='fromUpdate'">
	<div class="modal-header text-center">
		<h4 class="m-t-0"> Please answer the security question. </h4>
	</div>
	<div class="modal-body">
		
</div> -->