<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>

	<app-navbar></app-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="tb-wrap">
			<section class="article-sec">
				<div class="card cus-card">
					<div class="list-heading">
						Listing View <span class="pull-right"> <i class="fa fa-angle-right"></i> </span>
					</div>
	    			<div class="list-view8">
	    				<div class=""> <a routerLink="/article-details"><img class="img-responsive" src="./assets/img/img-1.jpg" /> </a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-2.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-3.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-4.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-5.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-6.jpg" /></a> </div>
				    </div>
				    <div class="list-heading">
						Listing View <span class="pull-right"> <i class="fa fa-angle-right"></i> </span>
					</div>
	    			<div class="list-view8">
	    				<div class=""> <a routerLink="/article-details"><img class="img-responsive" src="./assets/img/img-1.jpg" /> </a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-2.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-3.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-4.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-5.jpg" /></a> </div>
	    				<div class=""> <a routerLink="/article-details"> <img class="img-responsive" src="./assets/img/img-6.jpg" /></a> </div>
				    </div>

				</div>
			</section>
			<app-footer></app-footer>
		</div>
	</div>
</div>