<div class="wrapper">

    <div class="cusmain-panel" (click)="navRemove()">
		<div class="tb-wrap">
		<div class="comment-sec">
			<div class="comment-div" >
				<div  class="user-img">
				    <img class="img-responsive" src="./assets/img/profile_user.jpg">
				</div>
				<div  class="comment-box">
				    <h5  class="m-0">fsdgsdfgf <span class="pull-right">  21/10/1995</span></h5>
				    <p>dfgfgfdgg</p>
				</div>
			</div>
		</div>
		<div class="comment-sec">
			<div class="comment-div" >
				<div  class="user-img">
				    <img class="img-responsive" src="./assets/img/profile_user.jpg">
				</div>
				<div  class="comment-box">
				    <h5  class="m-0">fsdgsdfgf <span class="pull-right">  21/10/1995</span></h5>
				    <p>dfgfgfdgg</p>
				</div>
			</div>
		</div>
		<div class="comment-sec">
			<div class="comment-div" >
				<div  class="user-img">
				    <img class="img-responsive" src="./assets/img/profile_user.jpg">
				</div>
				<div  class="comment-box">
				    <h5  class="m-0">fsdgsdfgf <span class="pull-right">  21/10/1995</span></h5>
				    <p>dfgfgfdgg</p>
				</div>
			</div>
		</div>
	</div>
</div>


