
<section class="home-sec wrap">
    <div class="home-form">
        <div class="login home-panel">
            <img src="./assets/img/logo-5.png" />
            <div class="homeas-sec">
                <form class="example-form">
                    <div class="white-line form-group col-md-12 col-sm-12 col-xs-12">
                        <md-select placeholder="State">
                            <md-option *ngFor="let state of states"  [value]="state.stateName"> {{state.stateName}} </md-option>
                        </md-select>
                    </div>
                    <div class="white-line form-group col-md-6 col-sm-6 col-xs-6">
                        <md-select placeholder="District">
                    		<md-option value="1"> District1 </md-option>
                            <md-option value="2"> District2 </md-option>
                            <md-option value="3"> District3 </md-option>
                            <md-option value="4"> District4 </md-option>
                        </md-select>
                    </div>
                    <div class="white-line form-group col-md-6 col-sm-6 col-xs-6">
                        <md-form-field>
                            <span mdPrefix> <i class="cusIco-lastname"></i>&nbsp; </span>
                            <input mdInput placeholder="Block" type="text" >
                        </md-form-field>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 p-b-0">
                    	<label class="color-white"> Date of Birth </label>
                    </div>
                    <div class="white-line form-group col-md-4 col-sm-4 col-xs-4">
                        <md-select placeholder="DD">
                    		<md-option value="1"> 01 </md-option>
                            <md-option value="2"> 02 </md-option>
                            <md-option value="3"> 03 </md-option>
                            <md-option value="4"> 04 </md-option>
                            <md-option value="5"> 05 </md-option>
                        </md-select>
                    </div>
                    <div class="white-line form-group col-md-4 col-sm-4 col-xs-4">
                        <md-select placeholder="MM">
                    		<md-option value="1"> Jan </md-option>
                            <md-option value="2"> Feb </md-option>
                            <md-option value="3"> Mar </md-option>
                            <md-option value="4"> Jun </md-option>
                            <md-option value="4"> July </md-option>
                            <md-option value="4"> Aug </md-option>
                        </md-select>
                    </div>
                    <div class="white-line form-group col-md-4 col-sm-4 col-xs-4">
                        <md-select placeholder="YYYY">
                    		<md-option value="1"> 1980 </md-option>
                            <md-option value="2"> 1981 </md-option>
                            <md-option value="3"> 1982 </md-option>
                            <md-option value="4"> 1983 </md-option>
                        </md-select>
                    </div>
                    <div class="white-line form-group col-md-12 col-sm-12 col-xs-12 p-0">
                        <md-radio-button name="gender" class="col-md-6 col-sm-6 col-xs-6">Male</md-radio-button>
                        <md-radio-button name="gender" class="col-md-6 col-sm-6 col-xs-6">Female</md-radio-button>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <button class="btn custom-btn btn-round full-width" routerLink="/otp"> Sign Up </button>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</section>

